:root {
    --primary: #fff
}

.btn {
    border-radius:5px;
    outline: none;
    border: none;
    cursor: pointer;
    
}
.btn--primary{
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-left: 5px;
}
.btn--outline{
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease-out ;
}



.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}


.btn--medium:hover,
.btn--large:hover{
    background:rgb(58, 58, 58);
    color: white;
    transition: all 0.3s ease-out ;

}
