:root {
    --primary: #fff
}

.btn {
    border-radius:5px;
    outline: none;
    border: none;
    cursor: pointer;   
    padding: 8px 20px;
    background-color: black;
    color: white;
    transition: all 0.3s ease-out ;

}
.btn--primary{
    margin-left: 5px;
    font-size: 20px;
}

.btn--full{
    width: 100%;
    padding: 10px;

}
.btn--edit{
    position: absolute;
    background-color: black;
    color: white;
    padding: 8px 20px;
    font-size: 15px;
    z-index: 10000;
    margin-left: 10px;
}

.btn:hover{
    background:rgb(58, 58, 58);
    color: white;
    transition: all 0.3s ease-out ;
}
