
  .footer-container{
    border-top: black 3px solid;
    width:100%;
    height:275px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 1fr;
    grid-template-areas: 
    "footer-logo footer-logo footer-logo footer-logo"
    "contact-us mailing-list follow-us go-up"
    ;
    color:black;
    overflow: hidden;
    box-shadow: 0 4px 2px -2px gray;
  }

  .contact-us{
    height: 100%;
    width: 90%;
    grid-area: contact-us;
    
  }
  .contact-us h4, .references h4,.mailing-list input{
    margin-top: 8px;
    word-wrap: break-word;

  }
  .contact-us h3,.references h3, .follow-us h3,.mailing-list h3{
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 10px;
      
  }
  .contact-us,.references, .follow-us,.mailing-list{
    padding: 20px;
}
  .mailing-list{
      height: 100%;
      grid-area: mailing-list;
      border-left: gray 1px solid;
      word-wrap: break-word;
  }
  .mailing-list-form input{
      padding: 10px;
      text-align: left;
      border-radius: 5px;
      width: 21vw;
    }
  .mailing-list-form{
      width: 100%;
      
  }
 
  .button{
      width: 100%;
      margin-top: 2px;
      text-align: center;
  }


  .footer-logo{
      grid-area: footer-logo;
      justify-self: center;
      align-self: center;
  }
  .footer-logo img{
      height: 50px;
      width: auto;
  }
  .references{
    color: black;
    grid-area: go-up;
    border-left: gray 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.follow-us{
    grid-area: follow-us;
    border-left: gray 1px solid;
}

.follow-us-icons{
    display: flex;
}
.fa-twitter-square,.fa-instagram-square,.fa-youtube-square,.fa-arrow-up{
    font-size: 30px;
    padding: 10px;
}
.fa-facebook-square{
    color: #3b5998;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}
.fa-twitter-square{
    color: #1DA1F2;
}

.fa-youtube-square{
    color: #FF0000;
}
.arrow-up{
    padding: 5px;
    border-radius: 50%;
    margin-right: 3vw;
    align-self: flex-end;
    border: gray 1px solid;
    margin-top: 25px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background: black;
    color: white;
}
.fa-arrow-up{
    font-size: 20px;
}

.fa-youtube-square:hover,.fa-facebook-square:hover,.fa-instagram-square:hover,.fa-twitter-square:hover{
    animation: wobble 2s infinite;
}
.arrow-up:hover{
    background: rgb(82, 82, 82);
}
.fa-arrow-up:hover{
    color: whitesmoke;
    transition: all ease-in-out;
}
@keyframes wobble{
    0%{
        
    }
    20%{
        transform: rotate(45deg);
    }

    40%{
        transform: rotate(-45deg);
    }
    60%{
        transform: rotate(45deg);
    }
    80%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 860px){
    .footer-container{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .3fr .3fr .1fr .2fr;
        grid-template-areas: 
        "contact-us"
        "follow-us"
        "mailing-list"
        "go-up"
        "footer-logo"
        ;
    }
    .footer-logo{
        margin-top: -100px;
    }
    .contact-us,.follow-us,.mailing-list, .references h3{
        text-align: center;
        justify-self: center;
    }
    .contact-us,.references, .follow-us,.mailing-list{
        padding: 10px;
    }
    .follow-us-icons{
        align-items: center;
        justify-content: center;
        margin-left: 0%;
        text-align: center;
    }

    .mailing-list-form{
        width: 100%; 
        background: #1DA1F2;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
    .mailing-list-form input{
        width: 80vw;
    }
    .button{
        width: 85vw;
    
    }
    .mailing-list{
        width: 100%;
         
    }
    .references,.mailing-list,.follow-us{
        border-left: none;
    }

    .contact-us h4{
        text-align: left;
    }

    
}
@media only screen and (max-width: 333px){
    .footer-logo{
        margin-left: -50px;
    }
}
