.front-container{
    display: grid;
    width: 100%;
    height: 70vh;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    padding-bottom: 5vh;
}

.front-left,.front-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prayer-table{
    max-width: 300px;
    height: 358px;
    border: 1px solid #ddd;
}
.front-left{
    animation: slideRight 1s ease-in-out;
}

.front-left h2, .front-left p,.front-left h1{
    margin-left: 85px;
    margin-bottom: 20px;
    margin-right: 200px;
}
.front-right{
    align-items: center;
}
.front-right h1{
    margin-bottom: 10px;
}
 /*
@keyframes backgroundTransition {
    0%{
        background-image: url("https://images.pexels.com/photos/1537086/pexels-photo-1537086.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    50%{
        background-image: url("https://images.pexels.com/photos/161276/moscow-cathedral-mosque-prospekt-mira-ramadan-sky-161276.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    100%{
        background-image: url("https://images.pexels.com/photos/1537086/pexels-photo-1537086.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
 
    }
} */
@keyframes slideRight {
    from {
        margin-left: -50px;
    }
    to {
        margin-left: 0px;
    }
}
@media screen and (max-width: 786px){
    .front-container{
        display: flex;
        flex-direction: column;
        height: 100%;       
        padding-bottom: 50px; 
    }
    .front-left h2, .front-left p,.front-left h1{
        margin-left: 25px;
        margin-right: 50px;
    }
    .front-left h1{
        margin-top: 30px;
    }
}