.modal-drop{
    background:lightgrey;
    height:700vh;
    position: absolute;
    width: 100%;
    transition: all 1.3s;
    opacity: .5;
    z-index: 90000;
}
.home-container{
    background: lightcoral;
}
.test-button{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.fa-edit{
    margin-right: 5px;
}