.modal-wrapper{
    position: absolute;
    background: white;
    width: 100vw;
    max-width: 80vw;
    margin-top: 20vh;
    margin-left: 10vw;
    transition: all .8s ease-in-out;
    z-index: 2000; 
    overflow: hidden;
}

.modal-header{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-header p{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.btn-cm{
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: -20px;
}
.modal-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    
}
.modal-body{
    width: 200px;
    margin-left: 40px;
    padding-bottom: 50px;
    border-right: .5px black solid;
}
.modal-body:last-child{
    border-right: none;

}
.modal-body h4, .modal-body2 h4{
    font-size: 1.8rem;
}
.modal-body p,.modal-body2 p{
    font-size: 1rem;
    color: black;
    margin-top: 1rem;
}
.modal-footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.current-image{
    height: 50px;
    width: auto;
    margin-top: 5px;
}
 
@media screen and (max-width: 500px) {
    .modal-body{
        border-right: none;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
    .modal-form input{
        text-align: center;
        margin-left: 20vw;
    }
    .modal-body h4, .modal-body p,.modal-body img{
        margin-left: -10vw;

    }
}

/* Modal 2 Adjustments */

.modal-content2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 50px;
    background: whitesmoke;  
    padding-left: 20px;
}
.modal-body2 textarea{
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
}
.modal-body2 h4{
    padding-bottom: 10px;
}
.intro-message{
    height: 5vh;
}
.desc-message{
    height: 20vh;
}

/* Modal 3 Adjustments */

.modal-content3{
    padding-top: 30px;
    
}

.events-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr .3fr .3fr .5fr;
    height: 350px;
}

.events-image{
    width: auto;
    grid-row: 1/6;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 1;
}
.events-image img{
    height: 80%;
    width: 220px;
    margin-top: -.5px;
    
}
.events-image h3{
    margin-bottom: 20px;
}
.title-box{
    grid-row: 1/2;
    grid-column: 0/1;
}
.title-box h3, .description-box h3, .time-flex2 h3,.time-flex1 h3, .img-upload h3{
    text-align: center;
    width: 100%;

}
.description-box{
    grid-row: 2/3;
    grid-column: 0/1;

}
.time-flex1,.time-flex2,.title-box,.description-box, .img-upload{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content:start ;
    align-items: center;
}


.time-flex1{
    grid-row: 3/4;
    grid-column: 0/1;
}
.time-flex2{
    grid-row: 4/5;
    grid-column: 0/1;
}
.img-upload{
    grid-row: 5/6;
    grid-column: 0/1;
}
.time-inp{
    width: 100px;
}

.modal-body3 textarea{
    resize: none;
    overflow-x: hidden;
    padding-top: 3px;
}
.modal-body3 h4{
    padding-bottom: 10px;
}
.modal-body3{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
}

.description-box textarea{
    height: 80%;
}
.title-box textarea{
    height: 40%;
}
@media screen and (max-width: 800px){
    .events-grid{
        grid-template-columns: 4fr 1fr;
        background: chocolate;

    }
    .time-flex1,.time-flex2,.title-box,.description-box, .img-upload{
        grid-template-columns: 40% 50%;

    }
    .events-image img{
        height: 80%;
        width: 120px;
        margin-top: -.5px;
    }
}

@media screen and (max-width: 500px){
    .events-grid{
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .3fr .2fr .2fr .2fr .5fr;
        height: 100%;
        font-size: 10px;

    }
    .events-image{
        grid-row: 6/7;
        grid-column: 1;

    }
    .modal-content3{
        padding-top: 0px;
    }
}
/* Modal 5 Adjustments*/

.services-icons{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
    padding: 10px;

}
.services-icons i{
    font-size: 30px;
    margin-right: 10px;
}
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + i {
    cursor: pointer;
    transition: .5s;


  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + i {
    color: darkblue;
    font-size: 35px;
}


.services-icons i:hover {
    cursor: pointer;
    font-size: 35px;
    animation: iconwobble 2s infinite;

  }
  @keyframes iconwobble{
    0%{
        
    }
    20%{
        transform: rotate(25deg);
    }

    40%{
        transform: rotate(-25deg);
    }
    60%{
        transform: rotate(25deg);
    }
    80%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.modal-content5{
    padding-top: 10px;
}
.modal-body5 h2{
    margin-left: 1vw;
}
.services-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
}

.title-box{
    grid-row: 1/2;
    grid-column: 0/1;
}
.description-box{
    grid-row: 2/3;
    grid-column: 0/1;

}
.title-box h3, .description-box h3{
    text-align: center;
    width: 100%;

}

.title-box,.description-box{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content:start ;
    align-items: center;
}


.modal-body5 textarea{
    resize: none;
    overflow-x: hidden;
    padding-top: 3px;
    width: 80%;
}
.modal-body5 h4{
    padding-bottom: 10px;
}
.modal-body5{
    border: 2px black solid;
    display: flex;
    flex-direction: column;
}

.description-box textarea{
    height: 80%;
}
.title-box textarea{
    height: 40%;
}
@media screen and (max-width: 800px){
    .services-grid{
        grid-template-columns: 2fr 1fr;
        
        background: chocolate;
    }
    .title-box,.description-box{
        grid-template-columns: 80% 50%;
    }
    .modal-body5 textarea{
        width: 120%;
    }
}

@media screen and (max-width: 500px){
    .services-grid{
        grid-template-columns: 2fr 1fr;
        height: 100%;
        font-size: 10px;
        background: darkgreen;
        
    }
    .modal-body5 textarea{
        width: 110%;
    }

}